{% extends 'index.html'  %}

{% block content %}

<div class="large-offset-3 large-6 columns">
    <form action="/auth/login" method="post">
        {% csrf_token %}
        <label for="user_name"> Имя пользователя </label>
        <input type="text" name = "user_name" id = "user_name">
        <label for="password"> Пароль </label>
        <input type="password" name = "password" id = "password">
        {% if login_error %}
            <label class = "error"> {{ login_error }} </label>
        {% endif %}
        <input class = "button" type = "submit" value = "Войти">
    </form>
</div>

{% endblock %}



