{% extends "index.html" %}
{% load i18n %}
{% block content %}
    <h2>{% trans "Change password" %}</h2>

    {% if form.errors %}
        <p>
            {% trans "An error occurred while logging in. Try again." %}
        </p>
    {% else %}
    {% endif %}

    <div class="login-form">
        <form id = "form" action="/change_password/" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value={% trans "Change password"%}></p>
        </form>
    </div>

<!--
    <form action="/change_password/" method="post">
      {% csrf_token %}
      <p>
        <label> {% trans "Old password" %} </label>
        <input name="old_password" type="password">
      </p>
      <p>
        <label> {% trans "New password" %} </label>
        <input name="new_password" type="password">
      </p>
      <p>
        <label> {% trans "New password repeat" %} </label>
        <input name="confirm_password" type="password">
      </p>
      <button type="submit">{% trans "Change password" %}</button>
    </form>
-->
{% endblock %}