{%  extends 'index.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<div class="container">
    {%  if form.errors %}
        {{ form.errors }}
    {% endif %}

    <form class="form-inline my-2 my-lg-0" method="GET" action="/search_components/" >
        <input class="form-control mr-sm-2" type="search" name="search" {% if search_str %} value = "{{ search_str }}" {% endif %}>
        <button class="btn btn btn-outline-info my-2 my-sm-0" type="submit">
            <i class="fas fa-search d-sm-block" style="font-size:24px"></i>
        </button>
    </form>

    <div class="row">
        {% for nomenclature in  nomenclatures %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" >
                <a href="/add_delivery_line/?article={{ nomenclature.Article }}&name={{ nomenclature.Name }}&price={{ nomenclature.Price }}" >
                <p align="center" >
                    {% if nomenclature.Picture %}
                        <img alt="Embedded Image" src="data:image;base64,{{ nomenclature.Picture }}" width="150" height="150">
                    {% else %}
                        <img  src="{% static 'Categories/Empty.png' %}" width="150" height="150">
                    {% endif %}
                    <br>
                    {{ nomenclature.Name }}<br>
                    {{ nomenclature.Article }}<br>
                    {% for property in nomenclature.Properties %}
                        {{ property.Property }} = {{ property.Value }}<br>
                    {% endfor %}
                    {% if nomenclature.Price %}
                        <b>{{ nomenclature.Price }} грн.</b><br>
                    {% endif %}
                    {% if nomenclature.UnitName == 'шт' %}
                        {{ nomenclature.Count|floatformat:0 }}&nbsp{{ nomenclature.UnitName }}&nbsp
                    {% else %}
                        {{ nomenclature.Count|floatformat:3 }}&nbsp{{ nomenclature.UnitName }}&nbsp
                    {% endif %}
                    <details>
                        <summary>{% trans "On storage" %}</summary>
                        {% for storage in nomenclature.Storages %}
                            {{ storage.Storage }}:{{ storage.Count }}&nbsp{{ nomenclature.UnitName }}<br>
                        {% endfor %}
                    </details>
                </p>
                </a>
            </div>
        {% endfor %}
    </div>
<div class="pagination">
    <span class="step-links">
        {% if nomenclatures.has_previous %}
            {% if search_str %}
                <a href="?page={{ nomenclatures.previous_page_number }}&&search={{ search_str }}">{% trans "previous" %}</a>
            {% else %}
                <a href="?page={{ nomenclatures.previous_page_number }}&category={{ category }}">{% trans "previous" %}</a>
            {% endif %}
        {% endif %}

        <span class="current">
            {% trans "Page" %}  {{ nomenclatures.number }} {% trans "of" %}  {{ nomenclatures.paginator.num_pages }}.
        </span>

        {% if nomenclatures.has_next %}
            {% if search_str %}
                <a href="?page={{ nomenclatures.next_page_number }}&search={{ search_str }}">{% trans "next" %}</a>
            {% else %}
                <a href="?page={{ nomenclatures.next_page_number }}&category={{ category }}">{% trans "next" %}</a>
            {% endif %}
        {% endif %}
    </span>
</div>

</div>

{% endblock %}