{%  extends 'index.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<div class="container">
{%  if form.errors %}
    {{ form.errors }}
{% endif %}

<form class="form-inline my-2 my-lg-0" method="GET" action="/search_components/" >
    <input class="form-control mr-sm-2" type="search" name="search" {% if search_str %} value = "{{ search_str }}" {% endif %}>
    <button class="btn btn btn-outline-info my-2 my-sm-0" type="submit">
        <i class="fas fa-search d-sm-block" style="font-size:24px"></i>
    </button>
</form>

<div class="row">

{% for category in categories %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" >
        <a href="/choose_subcategory/?category={{ category.id }}" >
            <p align="center" >
            <img src="{% static category.ImageFileName %}" width="150" height="150">
            </p>
            <p align="center">
                {% trans category.Name %}
            </p>
        </a>
    </div>
{% endfor %}
</div>
</div>

{% endblock %}