{%  extends 'index.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<div class="container">
{%  if form.errors %}
    {{ form.errors }}
{% endif %}

<div class="row">
{% for profile in  profiles %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" >
        <a href="/new_seal/{{ profile.id }}" >
            <p align="center" >
            <img  src="{% static profile.ImageFileName %}">
            </p>
            <p align="center">
            {{ profile.Name }}
            </p>
        </a>
    </div>
{% endfor %}
</div>
</div>

{% endblock %}