{%  extends 'index.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<div class="container">
{%  if form.errors %}
    {{ form.errors }}
{% endif %}

<div class="row">
{% for profile_type in  profile_types %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" >
        <a href="/choose_profile/?type={{ profile_type.id }}" >
            <p align="center" >
            <img src="{% static profile_type.ImageFileName %}">
            </p>
            <p align="center">
            {{ profile_type.local_name }}
            </p>
        </a>
    </div>
{% endfor %}
</div>
</div>

{% endblock %}