{%  extends 'index.html' %}
{% load i18n %}
{% load l10n %}

{% block content %}
<div class="container">
<h2>

    {% if order.id %}
        {% trans "order" %} {{ order.short_number }} {% trans " dated " %} {{ order.Date}}
    {% else %}
        {% trans "New order" %}
    {% endif %}
</h2>

{%  if form.errors %}
    {{ form.errors }}
{% endif %}

{% if errormsg %}
    <p class="alert alert-danger"> {{errormsg}} </p>
{% endif %}

{% if msg %}
    <p class="alert alert-success"> {{msg}} </p>
{% endif %}

<form id = "form" action="{{action}}" method = "post">
    {% csrf_token %}
    {% if order.BillNumber %}
        <p id = "total_sum">{% trans "Bill №" %} {{ order.BillNumber }} {% trans " dated " %} {{ order.BillDate }} {% trans " sum " %} {{ order.Summa|floatformat:2 }} грн. </p>
    {% endif %}
    <div class="form-group row">
        <div class="col-sm-2">
            {% if form_of_payment %}
                BT <input type="radio" name="form_pay" value="BT" {% if form_of_payment == "BT" %} checked {% endif %} {% if order.Loaded %} disabled {% endif %} onclick="handleClick(this);">
                CP <input type="radio" name="form_pay" value="CP" {% if form_of_payment == "CP" %} checked {% endif %} {% if order.Loaded %} disabled {% endif %} onclick="handleClick(this);">
            {% else %}
                BT <input type="radio" name="form_pay" value="BT" {% if order.FormOfPayment == "BT" %} checked {% endif %} {% if order.Loaded %} disabled {% endif %} onclick="handleClick(this);">
                CP <input type="radio" name="form_pay" value="CP" {% if order.FormOfPayment == "CP" %} checked {% endif %} {% if order.Loaded %} disabled {% endif %} onclick="handleClick(this);">
            {% endif %}
        </div>
        <div class="col-sm-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="sum">{% trans "Sum" %}:</span>
                </div>
                <input type="text" class="form-control" id = "total_sum" aria-label="Sum" aria-describedby="inputGroup-sizing-default" {% if order.Summa %} value = "{{ order.Summa|floatformat:2 }}" {% endif %} readonly = "readonly" >
                <span class="input-group-text" id="Hrn">грн.</span>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Author">{% trans "Author" %}:</span>
                </div>
                <input type="text" class="form-control" aria-label="Author" aria-describedby="inputGroup-sizing-default" {% if order.Author %} value = "{{ order.Author }}" {% endif %} readonly = "readonly" >
            </div>
        </div>
   </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> {% trans "Department" %}:</span>
                </div>
                <input type="text" class="form-control" aria-label="department_label" aria-describedby="inputGroup-sizing-default" value = "{% if order.Department %} {{ order.Department|default_if_none:'' }} {% else %} {{ order.Client.Department|default_if_none:'' }} {% endif %}" readonly = "readonly" >
            </div>
        </div>

        <div class="col-sm-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="approal_status">{% trans "Approval status:" %}</span>
                </div>
                <input type="text" class="form-control" aria-label="approal_status" aria-describedby="inputGroup-sizing-default" value = "{{ order.approval_status_text }}" readonly = "readonly" >
            </div>
        </div>
    </div>
    <div class="form-group row">

        <div class="col-sm-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="full_status">{% trans "Status" %}:</span>
                </div>
                <input type="text" class="form-control" aria-label="full_status" aria-describedby="inputGroup-sizing-default" value = "{{ order.full_status }}" readonly = "readonly">
            </div>
        </div>

        <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> {% trans "Comment" %}:</span>
                    </div>
                    <textarea id = "comment" class="form-control" {% if order.Loaded %} {% endif %}> {{order.Comment|default_if_none:''}} </textarea>
                </div>

        </div>
    </div>

    {% if order.Loaded %}
        <form>
            <div class="form-row">
                <div class="form-group col-md-3">
                   {% trans "Shipping" %}:
                </div>
                <div class="form-group col-md-9">
                    <div class="row">
                        <div class="col">
                            <label id = "city_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "City" %}:</label>
                        </div>
                        <div class="col">
                            <label id = "recipient_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "Recipient" %}:</label>
                        </div>
                        <div class="col">
                            <label id = "person_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "Person" %}:</label>
                        </div>
                        <div class="col">
                            <label id = "phone_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "Phone" %}:</label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <select name="shipping" id="shipping" class="form-control" value = "{% if order.Shipping %} {{ order.Shipping }} {% else %} 0 {% endif %}" readonly="readonly">
                    <option {% if order.Shipping == 0 %} selected="selected" {% else %} disabled = "disabled" {% endif %} value="0">{% trans "Default" %}</option>
                    <option {% if order.Shipping == 1 %} selected="selected" {% else %} disabled = "disabled" {% endif %} value="1">{% trans "Delivery" %}</option>
                    <option {% if order.Shipping == 5 %} selected="selected" {% else %} disabled = "disabled" {% endif %} value="5">{% trans "Pick up" %}</option>
                    </select>
                </div>
                <div class="form-group col-md-9">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" id = "city" name="city" value="{% if order.City %} {{ order.City }} {% else %} {{ order.Client.City }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %} readonly="readonly">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id = "recipient" name="recipient" value="{% if order.Recipient %} {{ order.Recipient }} {% else %} {{ order.Client.Recipient }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %} readonly="readonly">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id = "person" name="person" value="{% if order.Person %} {{ order.Person }} {% else %} {{ order.Client.Person }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %} readonly="readonly">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id = "phone" name="phone" value="{% if order.Phone %} {{ order.Phone }} {% else %} {{ order.Client.Phone }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %} readonly="readonly">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {%  else %}
        <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {% trans "Shipping" %}:
                    </div>
                    <div class="form-group col-md-9">
                        <div class="row">
                            <div class="col">
                                <label id = "city_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "City" %}:</label>
                            </div>
                            <div class="col">
                                <label id = "recipient_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "Recipient" %}:</label>
                            </div>
                            <div class="col">
                                <label id = "person_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "Person" %}:</label>
                            </div>
                            <div class="col">
                                <label id = "phone_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "Phone" %}:</label>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <select name="shipping" id="shipping" class="form-control" value = "{% if order.Shipping %} {{ order.Shipping }} {% else %} 0 {% endif %}">
                        <option {% if order.Shipping == 0 %} selected="selected" {% endif %} value="0">{% trans "Default" %}</option>
                        <option {% if order.Shipping == 1 %} selected="selected" {% endif %} value="1">{% trans "Delivery" %}</option>
                        <option {% if order.Shipping == 5 %} selected="selected" {% endif %} value="5">{% trans "Pick up" %}</option>
                        </select>
                     </div>
                    <div class="form-group col-md-9">

                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id = "city" name="city" value="{% if order.City %} {{ order.City }} {% else %} {{ order.Client.City }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %}>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id = "recipient" name="recipient" value="{% if order.Recipient %} {{ order.Recipient }} {% else %} {{ order.Client.Recipient }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %}>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id = "person" name="person" value="{% if order.Person %} {{ order.Person }} {% else %} {{ order.Client.Person }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %} >
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id = "phone" name="phone" value="{% if order.Phone %} {{ order.Phone }} {% else %} {{ order.Client.Phone }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %}>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
         {% endif %}
    </p>

    {% if order.Loaded %}
        {% if order.Status == "order" and order.ApprovalStatus == 0%}
            <a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Approve order" %}" href="/ready_to_work/{{order.id}}" >
                <i class="fas fa-handshake text-light d-sm-block" style="font-size:24px "  ></i>
            </a>
            &nbsp
            &nbsp
        {% endif %}

        {% if order.Status == "order" and order.ApprovalStatus == 0%}
            <a class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Reject order" %}" href="/reject_delivery_order/{{order.id}}" >
                <i class="fas fa-handshake-slash text-light d-sm-block" style="font-size:24px "  ></i>
            </a>
            &nbsp
            &nbsp
        {% endif %}

    {%  else %}
        <!--
        <a class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Add row" %}" href="/new_line/">
            <i class="fas fa-plus-circle text-light d-sm-none  d-md-none  d-lg-block" style="font-size:24px "  ></i>
        </a>
        -->
        <a class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Add row" %}" href="/choose_category/">
            <i class="fas fa-plus-circle text-light d-sm-block" style="font-size:24px "  ></i>
        </a>
        &nbsp

        &nbsp
        {% if order.Status == "calculation" %}
            <a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Check availability" %}" href="/check_availability/{{order.id}}" >
                <i class="fas fa-calculator text-light d-sm-block" style="font-size:24px "  ></i>
            </a>
            {%if 1 == 0 %}
            &nbsp
            &nbsp

            <a class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Get bill" %}" href="/get_delivery_pre_bill/{{order.id}}" >
                <i class="fas fa-file-pdf text-light d-sm-block" style="font-size:24px "  ></i>
            </a>
            {% endif %}
            &nbsp
            &nbsp
        {% endif %}
        {% if order.ready_to_postpone and order.Status == "calculation" %}
            <a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Postpone" %}" href="/postpone/{{order.id}}" >
                <i class="fas fa-box text-light d-sm-block" style="font-size:24px "  ></i>
            </a>
            &nbsp
            &nbsp
        {% endif %}


    {% endif %}

    <a class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Copy order" %}" href="/copy_delivery_order/{{order.id}}" >
        <i class="fas fa-copy text-light d-sm-block" style="font-size:24px "  ></i>
    </a>
    &nbsp
    &nbsp

    {% if order.Loaded %}
    {%  else %}
        <a class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Delete order" %}" href="/delete_delivery_order/{{order.id}}">
            <i class="fas fa-trash text-light d-sm-block" style="font-size:24px "  ></i>
        </a>
        &nbsp
        &nbsp

    {% endif %}


    {% if order.BillNumber %}
        <a class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Get bill" %}" href="/get_bill/{{order.id}}" >
            <i class="fas fa-file-pdf text-light d-sm-block" style="font-size:24px "  ></i>
        </a>
    {% endif %}

    {% if order.FormOfPayment == "CP" %}
        &nbsp
        &nbsp

        <a class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "I've paid" %}" href="/paid/{{order.id}}?type_o=delivery" >
            <i class="fas fa-money-bill-alt text-light d-sm-block" style="font-size:24px "  ></i>
        </a>
    {% endif %}

    <div class="table-responsive">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans "Nomenclature" %}</th>
                <th scope="col">{% trans "Article" %}</th>
                <th scope="col">{% trans "Price" %}</th>
                <th scope="col">{% trans "Quantity/Length" %}</th>
                <th scope="col">{% trans "Sum" %}</th>
                <th scope="col">{% trans "Department" %}</th>

                <th scope="col"></th>
             </tr>
        </thead>
    <tbody>

    {% for line in lines %}

        <tr>
            <td scope="row">{{ forloop.counter }}</td>
            <td>{{ line.Nomenclature }}</td>
            <td>{{ line.Article }}</td>

            <td>
                {% localize off %}
                <input type="text" name="price" size="7" id="price" align="right" class="form-control" aria-label="price" aria-describedby="inputGroup-sizing-default" {% if line.Price %} value = "{{ line.Price|floatformat:2 }}" {% endif %} readonly = "readonly" >
                {% endlocalize %}
            </td>
            <td>
               {% localize off %}
                <input type="number" name="quantity" style="width: 6em" id="quantity" align="right" maxlength="5" class="form-control" aria-label="Quantity" aria-describedby="inputGroup-sizing-default" {% if line.Quantity %} value = "{{ line.Quantity }}" {% endif %} {% if order.Loaded %} readonly = "readonly" {% endif %}  data-line_id="{{ line.id }}">
            {% endlocalize %}
            </td>
            <td>
                <input type="text" name="summa" size="8" id="summa" align="right" class="form-control" aria-label="summa" aria-describedby="inputGroup-sizing-default" {% if line.Summa %} value = "{{ line.Summa|floatformat:2 }}" {% endif %} readonly = "readonly" >
            </td>

            <td>
                <select name="line_department" id="line_department" class="form-control" value = "{{ line.Department|default_if_none:'' }}" data-line_id="{{ line.id }}">

                {% for dep in line.departments %}
                    <option {% if line.Department == dep.Storage %} selected="selected" {% endif %} value="{{ dep }}">{{ dep.Storage }} {{ dep.Quantity }}</option>
                    {{ dep }}
                {% endfor %}

                </select>
            </td>

            <td>
                {% if order.Loaded %}
                {%  else %}

                    <a class="btn btn-danger js-delete" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Delete row" %}" data-line_id="{{ line.id }}" href="" >
                        <i class="fas fa-trash text-light d-sm-block" style="font-size:14px "  ></i>
                    </a>

                    <a class="btn btn-success"  data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Copy row" %}" href="/copy_delivery_line/{{line.id}}" >
                        <i class="fas fa-copy text-light d-sm-block" style="font-size:14px "  ></i>
                    </a>


                {% endif %}
            </td>
        </tr>
    {% endfor %}

    </tbody>
    </table>
    </div>

    <div class="table-responsive">
    {% if order.Loaded %}

        {% trans "Orders in Hydohouse base" %}:

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans "Number" %}</th>
                    <th scope="col">{% trans "Status" %}</th>
                    <th scope="col">{% trans "Department" %}</th>
                    <th scope="col">{% trans "Sum" %}</th>
                    <th scope="col">{% trans "Decl." %}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
        <tbody>

        {% for orderHH in ordersHH %}

            <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td>
                    {% if orderHH.Number %}
                        {{ orderHH.short_number }}
                    {% else %}
                         -
                    {% endif %}
                </td>
                <td class = {{ orderHH.Status }}> {{ orderHH.short_status }}</td>
                <td>{{ orderHH.Department }}</td>
                <td>
                    {% localize off %}
                    <input type="text" name="sum" size="8" id="sum" align="right" class="form-control" aria-label="price" aria-describedby="inputGroup-sizing-default" {% if orderHH.Summa %} value = "{{ orderHH.Summa|floatformat:2 }}" {% endif %} readonly = "readonly" >
                    {% endlocalize %}
                </td>
                <td>
                    {% if orderHH.ConsignmentNote %}
                        {{ orderHH.ConsignmentNote }}
                    {% endif %}
                </td>

                <td>
                    {% if orderHH.BillNumber %}
                        <a class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Get bill" %}" href="/get_delivery_bill/{{orderHH.id}}?filter={{ filter }}" >
                            <i class="fas fa-file-pdf text-light d-sm-block" style="font-size:14px "  ></i>
                        </a>
                    {% endif %}
                    {% if orderHH.IsInvoice %}
                        <a class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Get invoice" %}" href="/get_delivery_invoice/{{orderHH.id}}?filter={{ filter }}" >
                            <i class="fas fa-file-pdf text-light d-sm-block" style="font-size:14px "  ></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
    </div>

    <button type="submit" form="form" id = "submit" value="Submit" class="btn btn-success" > {% trans "To delivery order list" %}  </button>

</form>
</div>

{% endblock %}

{% block js %}
<script>

    $('.js-delete').click(function (event) {
        event.preventDefault();
        let line_id = $(this).attr('data-line_id');
        let btn = $(this);
        $.ajax({
                method: 'GET',
                url: '/ajax_delete_delivery_line/',
                data: {
                    'id': line_id
                }
            }).done(function (response) {
                if (response.status) {
                    btn.closest('tr').remove();
                }
            })
    })

    function handleClick(myRadio) {

        let order_id = {{ order.id }};

        $.ajax({
            method: 'GET',
            url: '/change_form_pay/',
            data: {
                'order_id': order_id,
                'form_pay': myRadio.value,
                'type': 'delivery'
            }
        })
    }

    let elem = document.getElementById('shipping');
    elem.addEventListener("change", function (event) {
        if (this.value == "1") {
            document.getElementById("city").removeAttribute("hidden");
            document.getElementById("recipient").removeAttribute("hidden");
            document.getElementById("person").removeAttribute("hidden");
            document.getElementById("phone").removeAttribute("hidden");
            document.getElementById("city_label").removeAttribute("hidden");
            document.getElementById("recipient_label").removeAttribute("hidden");
            document.getElementById("person_label").removeAttribute("hidden");
            document.getElementById("phone_label").removeAttribute("hidden");

        }
        else {
            document.getElementById("city").setAttribute("hidden", "hidden");
            document.getElementById("recipient").setAttribute("hidden", "hidden");
            document.getElementById("person").setAttribute("hidden", "hidden");
            document.getElementById("phone").setAttribute("hidden", "hidden");
            document.getElementById("city_label").setAttribute("hidden", "hidden");
            document.getElementById("recipient_label").setAttribute("hidden", "hidden");
            document.getElementById("person_label").setAttribute("hidden", "hidden");
            document.getElementById("phone_label").setAttribute("hidden", "hidden");
        }

        let order_id = {{ order.id }};

        $.ajax({
            method: 'GET',
            url: '/change_delivery/',
            data: {
                'order_id': order_id,
                'shipping': document.getElementById("shipping").value,
                'city': document.getElementById("city").value,
                'recipient': document.getElementById("recipient").value,
                'person': document.getElementById("person").value,
                'phone': document.getElementById("phone").value,
                'order_type': 'delivery',
            }
        })
    })

    let city = document.getElementById('city');
    city.addEventListener("blur", function (event) {

        let order_id = {{ order.id }};

        $.ajax({
            method: 'GET',
            url: '/change_delivery/',
            data: {
                'order_id': order_id,
                'shipping': document.getElementById("shipping").value,
                'city': city.value,
                'recipient': document.getElementById("recipient").value,
                'person': document.getElementById("person").value,
                'phone': document.getElementById("phone").value,
                'order_type': 'delivery',
            }
        })
    })

    let recipient = document.getElementById('recipient');
    recipient.addEventListener("blur", function (event) {

        let order_id = {{ order.id }};

        $.ajax({
            method: 'GET',
            url: '/change_delivery/',
            data: {
                'order_id': order_id,
                'shipping': document.getElementById("shipping").value,
                'city': document.getElementById("city").value,
                'recipient': recipient.value,
                'person': document.getElementById("person").value,
                'phone': document.getElementById("phone").value,
                'order_type': 'delivery',
            }
        })
    })

    let person = document.getElementById('person');
    person.addEventListener("blur", function (event) {

        let order_id = {{ order.id }};

        $.ajax({
            method: 'GET',
            url: '/change_delivery/',
            data: {
                'order_id': order_id,
                'shipping': document.getElementById("shipping").value,
                'city': document.getElementById("city").value,
                'recipient': document.getElementById("recipient").value,
                'person': person.value,
                'phone': document.getElementById("phone").value,
                'order_type': 'delivery',
            }
        })
    })

    let phone = document.getElementById('phone');
    phone.addEventListener("blur", function (event) {

        let order_id = {{ order.id }};

        $.ajax({
            method: 'GET',
            url: '/change_delivery/',
            data: {
                'order_id': order_id,
                'shipping': document.getElementById("shipping").value,
                'city': document.getElementById("city").value,
                'recipient': document.getElementById("recipient").value,
                'person': document.getElementById("person").value,
                'phone': phone.value,
                'order_type': 'delivery',
            }
        })
    })

    let comment = document.getElementById('comment');
    comment.addEventListener("blur", function (event) {

        let order_id = {{ order.id }};

        $.ajax({
            method: 'GET',
            url: '/change_comment/',
            data: {
                'order_id': order_id,
                'comment': document.getElementById("comment").value,
                'order_type': 'delivery',
            }
        })
    })

    let quantities = document.querySelectorAll("input[name = 'quantity']");
    quantities.forEach(function(quantity) {
        quantity.addEventListener("change", function (event) {
            let doc_sum = 0;

            event.preventDefault();
            let line_id = $(this).attr('data-line_id');
            let elem = $(this);
            $.ajax({
                method: 'GET',
                url: '/ajax_update_delivery_line/',
                data: {
                    'id': line_id,
                    'quantity': $(this).val()
                }
            }).done(function (response) {
                if (response.status) {
                   let quantities1 = document.querySelectorAll("input[name = 'quantity']");
                    quantities1.forEach(function(quantity1) {
                        let tr = quantity1.closest('tr');
                        let price2 = 0.00;
                        let sum2 = 0.00;
                        $(tr).find("input[name = 'price']").each(function() {
                            price2 = parseFloat(this.value.replace(/,/, '.'));
                        });
                        sum2 = price2 * parseFloat(quantity1.value);
                        $(tr).find("input[name = 'summa']").each(function() {
                            this.value = sum2.toFixed(2).replace('.', ',');
                        });
                        this.value = parseFloat(quantity1.value).toFixed(3).replace('.', ',');
                        doc_sum = doc_sum + sum2;
                    })
                    document.getElementById("total_sum").value = doc_sum.toFixed(2).replace('.', ',');
                }
            })

        })
    })

    let line_departments = document.querySelectorAll("select[name = 'line_department']");
    line_departments.forEach(function(line_department) {
        line_department.addEventListener("change", function (event) {

            let line_id = $(this).attr('data-line_id');

            $.ajax({
                method: 'GET',
                url: '/ajax_change_line_department/',
                data: {
                    'line_id': line_id,
                    'department': $(this).val(),
                }
            })
        })
    });



</script>
{% endblock %}