{%  extends 'index.html' %}
{% load i18n %}

{% block content %}
<div class="container">
<h2>
    {% if order.Number %}
        {% trans "order" %} {{ order.short_number }} {% trans " dated " %} {{ order.Date}}
    {% else %}
        {% trans "New order" %}
    {% endif %}
</h2>

{%  if form.errors %}
    {{ form.errors }}
{% endif %}

{% if errormsg %}
    <p class="alert alert-danger"> {{errormsg}} </p>
{% endif %}

{% if msg %}
    <p class="alert alert-success"> {{msg}} </p>
{% endif %}

<form id = "form" action="{{action}}" method = "post">
    {% csrf_token %}
    {% if order.BillNumber %}
        <p>{% trans "Bill №" %} {{ order.BillNumber }} {% trans " dated " %} {{ order.BillDate }} {% trans " sum " %} {{ order.Summa|floatformat:2 }} грн. </p>
    {% endif %}
    <div class="form-group row">
        <div class="col-sm-2">
            {% if form_of_payment %}
                BT <input type="radio" name="form_pay" value="BT" {% if form_of_payment == "BT" %} checked {% endif %} {% if order.Loaded %} disabled {% endif %} onclick="handleClick(this);">
                CP <input type="radio" name="form_pay" value="CP" {% if form_of_payment == "CP" %} checked {% endif %} {% if order.Loaded %} disabled {% endif %} onclick="handleClick(this);">
            {% else %}
                BT <input type="radio" name="form_pay" value="BT" {% if order.FormOfPayment == "BT" %} checked {% endif %} {% if order.Loaded %} disabled {% endif %} onclick="handleClick(this);">
                CP <input type="radio" name="form_pay" value="CP" {% if order.FormOfPayment == "CP" %} checked {% endif %} {% if order.Loaded %} disabled {% endif %} onclick="handleClick(this);">
            {% endif %}
        </div>
        <div class="col-sm-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="sum">{% trans "Sum" %}:</span>
                </div>
                <input type="text" class="form-control" aria-label="Sum" aria-describedby="inputGroup-sizing-default" {% if order.Summa %} value = "{{ order.Summa|floatformat:2 }}" {% endif %} readonly = "readonly" >
                <span class="input-group-text" id="Hrn">грн.</span>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Author">{% trans "Author" %}:</span>
                </div>
                <input type="text" class="form-control" aria-label="Author" aria-describedby="inputGroup-sizing-default" {% if order.Author %} value = "{{ order.Author }}" {% endif %} readonly = "readonly" >
            </div>
        </div>
   </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> {% trans "Department" %}:</span>
                </div>

                {% if order.Loaded %}
                    <input type="text" class="form-control" aria-label="department_label" aria-describedby="inputGroup-sizing-default" value = "{% if order.Department %} {{ order.Department|default_if_none:'' }} {% else %} {{ order.Client.Department|default_if_none:'' }} {% endif %}" readonly = "readonly" >
                {% else %}
                    <select name="department" id="department" class="form-control" value = "{{ order.Department|default_if_none:'' }}">

                    {% for dep in departments_list %}
                        {%  for code, name in dep.items %}
                            {% if code == "DepartmentName" %}
                                <option {% if order.Department == name %} selected="selected" {% endif %} value="{{ name }}">{{ name }}</option>
                                {{ name }}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                    </select>

                {% endif %}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="approal_status">{% trans "Approval status:" %}</span>
                </div>
                <input type="text" class="form-control" aria-label="approal_status" aria-describedby="inputGroup-sizing-default" value = "{{ order.approval_status_text }}" readonly = "readonly" >
            </div>
        </div>
    </div>
    <div class="form-group row">

        <div class="col-sm-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="full_status">{% trans "Status" %}:</span>
                </div>
                <input type="text" class="form-control" aria-label="full_status" aria-describedby="inputGroup-sizing-default" value = "{{ order.full_status }}" readonly = "readonly">
            </div>
        </div>

        <div class="col-sm-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> {% trans "Comment" %}:</span>
                    </div>
                    <textarea id = "comment" class="form-control" {% if order.Loaded %} {% endif %}> {{order.Comment|default_if_none:''}} </textarea>
                </div>

        </div>
    </div>

    {% if order.Loaded %}
        <form>
            <div class="form-row">
                <div class="form-group col-md-3">
                   {% trans "Shipping" %}:
                </div>
                <div class="form-group col-md-9">
                    <div class="row">
                        <div class="col">
                            <label id = "city_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "City" %}:</label>
                        </div>
                        <div class="col">
                            <label id = "recipient_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "Recipient" %}:</label>
                        </div>
                        <div class="col">
                            <label id = "person_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "Person" %}:</label>
                        </div>
                        <div class="col">
                            <label id = "phone_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "Phone" %}:</label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <select name="shipping" id="shipping" class="form-control" value = "{% if order.Shipping %} {{ order.Shipping }} {% else %} 0 {% endif %}" readonly="readonly">
                    <option {% if order.Shipping == 0 %} selected="selected" {% else %} disabled = "disabled" {% endif %} value="0">{% trans "Default" %}</option>
                    <option {% if order.Shipping == 1 %} selected="selected" {% else %} disabled = "disabled" {% endif %} value="1">{% trans "Delivery" %}</option>
                    <option {% if order.Shipping == 5 %} selected="selected" {% else %} disabled = "disabled" {% endif %} value="5">{% trans "Pick up" %}</option>
                    </select>
                </div>
                <div class="form-group col-md-9">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" id = "city" name="city" value="{% if order.City %} {{ order.City }} {% else %} {{ order.Client.City }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %} readonly="readonly">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id = "recipient" name="recipient" value="{% if order.Recipient %} {{ order.Recipient }} {% else %} {{ order.Client.Recipient }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %} readonly="readonly">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id = "person" name="person" value="{% if order.Person %} {{ order.Person }} {% else %} {{ order.Client.Person }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %} readonly="readonly">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id = "phone" name="phone" value="{% if order.Phone %} {{ order.Phone }} {% else %} {{ order.Client.Phone }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %} readonly="readonly">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {%  else %}
        <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {% trans "Shipping" %}:
                    </div>
                    <div class="form-group col-md-9">
                        <div class="row">
                            <div class="col">
                                <label id = "city_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "City" %}:</label>
                            </div>
                            <div class="col">
                                <label id = "recipient_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "Recipient" %}:</label>
                            </div>
                            <div class="col">
                                <label id = "person_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "Person" %}:</label>
                            </div>
                            <div class="col">
                                <label id = "phone_label" {% if not order.Shipping == 1 %} hidden {% endif %}>{% trans "Phone" %}:</label>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <select name="shipping" id="shipping" class="form-control" value = "{% if order.Shipping %} {{ order.Shipping }} {% else %} 0 {% endif %}">
                        <option {% if order.Shipping == 0 %} selected="selected" {% endif %} value="0">{% trans "Default" %}</option>
                        <option {% if order.Shipping == 1 %} selected="selected" {% endif %} value="1">{% trans "Delivery" %}</option>
                        <option {% if order.Shipping == 5 %} selected="selected" {% endif %} value="5">{% trans "Pick up" %}</option>
                        </select>
                     </div>
                    <div class="form-group col-md-9">

                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" id = "city" name="city" value="{% if order.City %} {{ order.City }} {% else %} {{ order.Client.City }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %}>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id = "recipient" name="recipient" value="{% if order.Recipient %} {{ order.Recipient }} {% else %} {{ order.Client.Recipient }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %}>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id = "person" name="person" value="{% if order.Person %} {{ order.Person }} {% else %} {{ order.Client.Person }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %} >
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id = "phone" name="phone" value="{% if order.Phone %} {{ order.Phone }} {% else %} {{ order.Client.Phone }} {% endif %}" {% if not order.Shipping == 1 %} hidden {% endif %}>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
         {% endif %}
    </p>

    {% if order.Loaded %}
    {%  else %}
        <!--
        <a class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Add row" %}" href="/new_line/">
            <i class="fas fa-plus-circle text-light d-sm-none  d-md-none  d-lg-block" style="font-size:24px "  ></i>
        </a>
        -->
        <a class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Add row" %}" href="/choose_type/">
            <i class="fas fa-plus-circle text-light d-sm-block" style="font-size:24px "  ></i>
        </a>
        &nbsp
        &nbsp
        <a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Send the order to calculate" %}" href="/send_new_order/{{order.id}}" >
            <i class="fas fa-calculator text-light d-sm-block" style="font-size:24px "  ></i>
        </a>
        &nbsp
        &nbsp

    {% endif %}

    <a class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Copy order" %}" href="/copy_order/{{order.id}}" >
        <i class="fas fa-copy text-light d-sm-block" style="font-size:24px "  ></i>
    </a>
    &nbsp
    &nbsp

    {% if order.Loaded %}
    {%  else %}
        <a class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Delete order" %}" href="/delete_order/{{order.id}}">
            <i class="fas fa-trash text-light d-sm-block" style="font-size:24px "  ></i>
        </a>
        &nbsp
        &nbsp

    {% endif %}


    {% if order.BillNumber %}
        <a class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Get bill" %}" href="/get_bill/{{order.id}}" >
            <i class="fas fa-file-pdf text-light d-sm-block" style="font-size:24px "  ></i>
        </a>
    {% endif %}

    {% if order.FormOfPayment == "CP" %}
        &nbsp
        &nbsp

        <a class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "I've paid" %}" href="/paid/{{order.id}}?type_o=seal" >
            <i class="fas fa-money-bill-alt text-light d-sm-block" style="font-size:24px "  ></i>
        </a>
    {% endif %}

    <div class="table-responsive">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{% trans "Profile" %}</th>
                <th scope="col">{% trans "Quantity" %}</th>
                <th scope="col">D1</th>
                <th scope="col">D2</th>
                <th scope="col">D3</th>
                <th scope="col">D4</th>
                <th scope="col">L1</th>
                <th scope="col">L2</th>
                <th scope="col">L3</th>
                <th scope="col">L4</th>
                <th scope="col">{% trans "Non stand." %}</th>
                <th scope="col">{% trans "Material" %}</th>
                <th scope="col">{% trans "Comment" %}</th>

                <th scope="col"></th>
             </tr>
        </thead>
    <tbody>

    {% for line in lines %}

        <tr>
            <td scope="row">{{ forloop.counter }}</td>
            <td>{{ line.Profile }}</td>
            <td>{{ line.Quantity }}</td>
            <td>
                {% if line.D1  %}
                    {{ line.D1 }}
                {% endif %}
            </td>
            <td>
                {% if line.D2  %}
                {{ line.D2 }}
                {% endif %}
            </td>

            <td>
                {% if line.D3  %}
                {{ line.D3 }}
                {% endif %}
            </td>
            <td>
                {% if line.D4  %}
                {{ line.D4 }}
                {% endif %}
            </td>
            <td>
                {% if line.L1  %}
                {{ line.L1 }}
                {% endif %}
            </td>
            <td>
                {% if line.L2  %}
                {{ line.L2 }}
                {% endif %}
            </td>
            <td>
                {% if line.L3  %}
                {{ line.L3 }}
                {% endif %}
            </td>
            <td>
                {% if line.L4  %}
                {{ line.L4 }}
                {% endif %}
            </td>
            <td>
                {% if line.NonStandard %}
					<i class="fas fa-check text-success d-sm-block" style="font-size:14px "  ></i>
                {% endif %}
            </td>
            <td>
                {% if line.Material1  %}
                {{ line.Material1 }}
                {% endif %}
                {% if line.Material2  %}
                    ,
                {{ line.Material2 }}
                {% endif %}
                {% if line.Material3  %}
                    ,
                {{ line.Material3 }}
                {% endif %}
                {% if line.Material4  %}
                    ,
                {{ line.Material4 }}
                {% endif %}

            </td>
            <td>
                {% if line.Comment  %}
                {{ line.Comment }}
                {% endif %}
            </td>

            <td>
                {% if order.Loaded %}
                {%  else %}
                    <a class="btn btn-info"  data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Edit row" %}" href="/edit_line/{{line.id}}" >
                        <i class="fas fa-edit text-light d-sm-block" style="font-size:14px "  ></i>
                    </a>

                    <a class="btn btn-success"  data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Copy row" %}" href="/copy_line/{{line.id}}" >
                        <i class="fas fa-copy text-light d-sm-block" style="font-size:14px "  ></i>
                    </a>

                    <a class="btn btn-danger js-delete" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Delete row" %}" data-line_id="{{ line.id }}" href="" >
                        <i class="fas fa-trash text-light d-sm-block" style="font-size:14px "  ></i>
                    </a>

                {% endif %}
            </td>
        </tr>
    {% endfor %}

    </tbody>
    </table>
    </div>

</form>
</div>

{% endblock %}

{% block js %}
<script>

    $('.js-delete').click(function (event) {
        event.preventDefault();
        let line_id = $(this).attr('data-line_id');
        let btn = $(this);
        $.ajax({
                method: 'GET',
                url: '/ajax_delete_line/',
                data: {
                    'id': line_id
                }
            }).done(function (response) {
                if (response.status) {
                    btn.closest('tr').remove();
                }
            })
    })

    function handleClick(myRadio) {

        let order_id = {{ order.id }};

        $.ajax({
            method: 'GET',
            url: '/change_form_pay/',
            data: {
                'order_id': order_id,
                'form_pay': myRadio.value,
                'type': 'seal'
            }
        })
    }

    let elem = document.getElementById('shipping');
    elem.addEventListener("change", function (event) {
        if (this.value == "1") {
            document.getElementById("city").removeAttribute("hidden");
            document.getElementById("recipient").removeAttribute("hidden");
            document.getElementById("person").removeAttribute("hidden");
            document.getElementById("phone").removeAttribute("hidden");
            document.getElementById("city_label").removeAttribute("hidden");
            document.getElementById("recipient_label").removeAttribute("hidden");
            document.getElementById("person_label").removeAttribute("hidden");
            document.getElementById("phone_label").removeAttribute("hidden");

        }
        else {
            document.getElementById("city").setAttribute("hidden", "hidden");
            document.getElementById("recipient").setAttribute("hidden", "hidden");
            document.getElementById("person").setAttribute("hidden", "hidden");
            document.getElementById("phone").setAttribute("hidden", "hidden");
            document.getElementById("city_label").setAttribute("hidden", "hidden");
            document.getElementById("recipient_label").setAttribute("hidden", "hidden");
            document.getElementById("person_label").setAttribute("hidden", "hidden");
            document.getElementById("phone_label").setAttribute("hidden", "hidden");
        }

        let order_id = {{ order.id }};

        $.ajax({
            method: 'GET',
            url: '/change_delivery/',
            data: {
                'order_id': order_id,
                'shipping': document.getElementById("shipping").value,
                'city': document.getElementById("city").value,
                'recipient': document.getElementById("recipient").value,
                'person': document.getElementById("person").value,
                'phone': document.getElementById("phone").value,
                'order_type': 'seal',
            }
        })
    })

    let city = document.getElementById('city');
    city.addEventListener("blur", function (event) {

        let order_id = {{ order.id }};

        $.ajax({
            method: 'GET',
            url: '/change_delivery/',
            data: {
                'order_id': order_id,
                'shipping': document.getElementById("shipping").value,
                'city': city.value,
                'recipient': document.getElementById("recipient").value,
                'person': document.getElementById("person").value,
                'phone': document.getElementById("phone").value,
                'order_type': 'seal',
            }
        })
    })

    let recipient = document.getElementById('recipient');
    recipient.addEventListener("blur", function (event) {

        let order_id = {{ order.id }};

        $.ajax({
            method: 'GET',
            url: '/change_delivery/',
            data: {
                'order_id': order_id,
                'shipping': document.getElementById("shipping").value,
                'city': document.getElementById("city").value,
                'recipient': recipient.value,
                'person': document.getElementById("person").value,
                'phone': document.getElementById("phone").value,
                'order_type': 'seal',
            }
        })
    })

    let person = document.getElementById('person');
    person.addEventListener("blur", function (event) {

        let order_id = {{ order.id }};

        $.ajax({
            method: 'GET',
            url: '/change_delivery/',
            data: {
                'order_id': order_id,
                'shipping': document.getElementById("shipping").value,
                'city': document.getElementById("city").value,
                'recipient': document.getElementById("recipient").value,
                'person': person.value,
                'phone': document.getElementById("phone").value,
                'order_type': 'seal',
            }
        })
    })

    let phone = document.getElementById('phone');
    phone.addEventListener("blur", function (event) {

        let order_id = {{ order.id }};

        $.ajax({
            method: 'GET',
            url: '/change_delivery/',
            data: {
                'order_id': order_id,
                'shipping': document.getElementById("shipping").value,
                'city': document.getElementById("city").value,
                'recipient': document.getElementById("recipient").value,
                'person': document.getElementById("person").value,
                'phone': phone.value,
                'order_type': 'seal',
            }
        })
    })

    let comment = document.getElementById('comment');
    comment.addEventListener("blur", function (event) {

        let order_id = {{ order.id }};

        $.ajax({
            method: 'GET',
            url: '/change_comment/',
            data: {
                'order_id': order_id,
                'comment': document.getElementById("comment").value,
                'order_type': 'seal',
            }
        })
    })

    let department = document.getElementById('department');
    department.addEventListener("change", function (event) {

        let order_id = {{ order.id }};

        $.ajax({
            method: 'GET',
            url: '/change_department/',
            data: {
                'order_id': order_id,
                'department': document.getElementById("department").value,
            }
        })
    })


</script>
{% endblock %}