{% load staticfiles %}
{% load i18n %}

<div class="eco--header--wraper eco--header--1">
    <div class="eco--header--top">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-4">
                    <div class="eco--logo">
						<a href="https://hydrohouse.ua/"><img src="{% static 'assets/img/header-logo.png' %}"></a>
                    </div>
                </div>
                <div class="col-md-10 col-xs-8">
                    <div class="eco--header--btn text-right">
                        {% if request.user.is_authenticated %}
                            <div class="eco--header--btn text-right">
                                <a href="/change_password/">{{ request.user.first_name }} {{ request.user.last_name }}   &nbsp;</a>
                                <a class="eco--btn" href="{% url "logout" %}">{% trans "Log out" %}</a>
                            </div>
                        {% else %}
                            <div class="eco--header--btn text-right">
                                <a class="eco--btn" href="{% url "login" %}"> {% trans "Log-in" %} </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end .eco-header-top -->
    <div class="eco--header--bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-10 eco--menu--col col-sm-10 clearfix">
                    <nav class="eco--main--menu">
                        <ul>
                            <li class="current-menu-item"><a href="/">{% trans "Main" %}</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% trans "Seals" %}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item {% if request.user.is_authenticated %} {% else %} disabled {% endif %}" href="/new_order/">{% trans "New order" %}</a>
                                    <a class="dropdown-item {% if request.user.is_authenticated %} {% else %} disabled {% endif %}" href="/list_order/">{% trans "All orders" %}</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% trans "Components" %}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item {% if request.user.is_authenticated %} {% else %} disabled {% endif %}" href="/new_delivery_order/">{% trans "New order" %}</a>
                                    <a class="dropdown-item {% if request.user.is_authenticated %} {% else %} disabled {% endif %}" href="/list_delivery_order/">{% trans "All orders" %}</a>
                                </div>
                            </li>

                            <li><a class="nav-link {% if request.user.is_authenticated %} {% else %} disabled {% endif %}" href="/debt/">{% trans "Financial info" %} <span class="sr-only">(current)</span></a></li>
                            <li><a class="nav-link" href="/materials/">{% trans "Materials" %} <span class="sr-only">(current)</span></a></li>

                        </ul>
                    </nav>                </div>
                <div class="col-md-2 col-sm-2  clearfix">
                    <nav class="eco--right--nav">
                        <ul>
                            <li><a {% if current_language == 'uk' %} class="disabled" {% endif %} href="/set_ukr/?next={{ request.path|urlencode }}">Ua </a></li>
                            <li><a {% if current_language == 'ru' %} class="disabled" {% endif %} href="/set_rus/?next={{ request.path|urlencode }}">Ru </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div> <!-- end .eco-header-bottom -->
</div> <!-- end .eco-header-wraper -->
