{% extends 'index.html'  %}
{% load staticfiles %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'assets/css/bootstrap_main.min.css'%}">
{% block content %}

{% if total_debt  %}
    <div class="eco--specification--1 eco--pd--100">
	    <div class="container">
    		<div class="row">
	    		<div class="m-auto col-md-10 col-md-offset-1">
		    		<div class="eco--inner">
			    		<ul class="eco--specification--list--1 eco--mt100">
				    		<li>
    							<div class="eco--title">{% trans "Total debt" %}</div>
	    						<div class="eco--desc">{{ total_debt }}</div>
		    				</li>
			    			<li>
    							<div class="eco--title">{% trans "BT overdue" %}</div>
	    						<div class="eco--desc">{{ BT_overdue }}</div>
		    				</li>
			    			<li>
    							<div class="eco--title">{% trans "CP overdue" %}</div>
	    						<div class="eco--desc">{{ CP_overdue }}</div>
    						</li>
	    				</ul>
		    		</div>
    			</div>
    		</div>
    	</div>
    </div>
{% endif %}

<div class="eco--home--area--1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7">
                <div class="eco--home--content--1">
                    <div class="eco--sec--title">
                        <span>{% trans "Quick and convenient" %}</span>
                        <h1>{% trans "calculation of the cost of manufacturing" %} <span> {% trans "hydraulic seals" %}</span></h1>
                    </div>
                    <div class="eco--video--button">
                        <a href="https://youtu.be/y4FFxbXcZaU" class="eco--popup">
                            <i class="fa fa-play"></i>
                            <span>{% trans "Observe the manufacturing" %}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="eco--home--image--1">
            <img src="{% static 'assets/img/item-01.jpg'%}" alt="">
        </div>
    </div>
</div> <!-- end .eco-home-area-1 -->

<div class="eco--promo--1 eco--pd--140 c1-bg eco--bg--ptrn--1">
    <div class="container">
        <div class="row">
            <div class="m-auto col-md-8 col-md-offset-2">
                <div class="eco--sec--title--white text-center">
                    <span>{% trans "It is easy to create order" %}</span>
                    <h1>{% trans "like never before" %}</h1>
                </div>
            </div>
        </div>
        <div class="eco--promo--image--1">
            <img src="assets/img/item-02.png" alt="">
        </div>
    </div>
</div> <!-- end .eco-promo-1 -->

<div class="eco--specification--1 eco--pd--100">
	<div class="container">
		<div class="row">
			<div class="m-auto col-md-8 col-md-offset-2">
                <div class="eco--sec--title eco--small text-center">
                    <span>{% trans "Quickly. Exactly. Easy" %}</span>
                    <h1>{% trans "Our advantage" %}</h1>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="m-auto col-md-10 col-md-offset-1">
				<div class="eco--inner">
					<ul class="eco--specification--list--1 eco--mt100">
						<li>
							<div class="eco--title">{% trans "Minimum quantity" %}</div>
							<div class="eco--desc">1 {% trans "pcs" %}</div>
						</li>
						<li>
							<div class="eco--title">{% trans "Manufacturing time" %}</div>
							<div class="eco--desc">{% trans "from 20 minutes" %}</div>
						</li>
						<li>
                            <div class="eco--title">{% trans "Size range" %}</div>
							<div class="eco--desc">{% trans "5 to 600 mm and above" %}</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
    <div class="container">
        <div class="row">
		    <div class="m-auto col-md-10 col-md-offset-1">
            	<div class="eco--sec--title eco--small text-center">
                    <span></span>
        	        <h1>{% trans "Questions & Answers" %}</h1>
               	</div>
		    </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="eco--faq--1 eco--mt100 eco--pr50">
                    <div class="eco--single--faq">
                        <h4>{% trans "What equipment is used for manufacturing?" %}</h4>
                        <p>{% trans "All works are manufactured on our own equipment exclusively from DMH materials (Austria). The modern equipment allows to make seals of any, the most difficult profile." %}</p>
                    </div>
                    <div class="eco--single--faq">
                        <h4>{% trans "What materials are seals made of?" %}</h4>
                        <p>{% trans "We use more than 50 types of Austrian-made materials: polyurethanes, rubber, butadiene-nitrile rubber, ethylene-propylene rubber, silicone, plastic, fluororubber, fluoroplastic (Teflon), and others. You can learn more about the materials" %} <a href="/materials/"> {% trans "here111" %}</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="eco-faq-img eco--mt100">
                    <img src="{% static 'assets/img/seal-1-1.png'%}" alt="">
                </div>
            </div>
        </div>
    </div>

<div>
    &nbsp
</div>
<div>
    &nbsp
</div>

<div class="eco--brand--area--1">
    <div class="container">
        <div class="row">
            <div class="m-auto col-md-12 text-center">
                <h6 class="eco--subtitle">{% trans "Our partners" %}</h6>
            </div>
        </div>
        <div class="row">
            <div class="m-auto col-md-12 eco--pdb--100 eco--mt15">
                <div class="eco--brand--slider--1">
                    <a href="#" class="eco--single--slide">
                        <img src="{% static 'assets/img/pp1.png'%}" alt="">
                    </a>
                    <a href="#" class="eco--single--slide">
                        <img src="{% static 'assets/img/pp2.png'%}" alt="">
                    </a>
                    <a href="#" class="eco--single--slide">
                        <img src="{% static 'assets/img/pp3.png'%}" alt="">
                    </a>
                    <a href="#" class="eco--single--slide">
                        <img src="{% static 'assets/img/pp4.png'%}" alt="">
                    </a>
                    <a href="#" class="eco--single--slide">
                        <img src="{% static 'assets/img/pp5.png'%}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


