{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        details {
            border: 1px solid #aaa;
            border-radius: 4px;
            padding: .5em .5em 0;
        }

        summary {
            font-weight: bold;
            margin: -.5em -.5em 0;
            padding: .5em;
        }

        details[open] {
            padding: .5em;
        }

        details[open] summary {
            border-bottom: 1px solid #aaa;
            margin-bottom: .5em;
        }

    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans "Hydrohouse - hydraulic seals calculator" %}</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900" rel="stylesheet">
    <!--
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific.pupup.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/sweet.alert.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css'%}">
    <link rel="stylesheet" href="{% static 'assets/sass/_main.sass'%}">
    <link rel="stylesheet" href="{% static 'assets/sass/_class.sass'%}">
    <link rel="stylesheet" href="{% static 'assets/sass/_color.sass'%}">
    <link rel="stylesheet" href="{% static 'assets/sass/_common.sass'%}">
    <link rel="stylesheet" href="{% static 'assets/sass/_config.sass'%}">
    <link rel="stylesheet" href="{% static 'assets/sass/_effect.sass'%}">
    <link rel="stylesheet" href="{% static 'assets/sass/_extra.sass'%}">
    <link rel="stylesheet" href="{% static 'assets/sass/_index.sass'%}">
    <link rel="stylesheet" href="{% static 'assets/sass/_menu.sass'%}">
    <link rel="stylesheet" href="{% static 'assets/sass/_mixin.sass'%}">
    <link rel="stylesheet" href="{% static 'assets/sass/_preloader.sass'%}">
    <link rel="stylesheet" href="{% static 'assets/sass/_reset.sass'%}">
    <link rel="stylesheet" href="{% static 'assets/sass/style.sass'%}">

    <link rel="stylesheet" href="{% static 'assets/fonts/FontAwesome.otf'%}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-webfont.eot'%}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-webfont.svg'%}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-webfont.ttf'%}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-webfont.woff'%}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-webfont.woff2'%}">

    <link rel="stylesheet" href="{% static 'assets/css/main.css'%}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GZ5SDX088J"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-GZ5SDX088J');
    </script>


</head>

<body>
{% load i18n %}

<div class="preloader">
    <div class="inner text-center">
        <span class="preloader-spin"></span>
    </div>
</div>

<div class="site_wrap">

{% include 'header.html' %}


<!--
<div class="container">
 -->
{%  block content %}
{%  endblock %}
<!--
</div>
-->
<div class="eco--footer eco--pd--100">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget footer_widget">
                    <div class="eco--inner">
                        <p>{% trans "Ltd. 'Hydrohouse' is a supplier of high quality hydraulic components for industrial enterprises, manufacturers of machinery and equipment, agricultural enterprises, end users, commercial companies" %}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget footer_widget">
                    <div class="eco--inner">
                        <h4>{% trans "Navigation" %}</h4>
                        <ul>
                            <li><a class="nav-link {% if request.user.is_authenticated %} {% else %} disabled {% endif %}" href="/list_order/">{% trans "All seal orders" %} <span class="sr-only">(current)</span></a></li>
                            <li><a class="nav-link {% if request.user.is_authenticated %} {% else %} disabled {% endif %}" href="/new_order/">{% trans "New seal order" %} <span class="sr-only">(current)</span></a></li>
                            <li><a class="nav-link {% if request.user.is_authenticated %} {% else %} disabled {% endif %}" href="/list_delivery_order/">{% trans "All delivery orders" %} <span class="sr-only">(current)</span></a></li>
                            <li><a class="nav-link {% if request.user.is_authenticated %} {% else %} disabled {% endif %}" href="/new_delivery_order/">{% trans "New delivery order" %} <span class="sr-only">(current)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="widget footer_widget">
                    <div class="eco--inner">
                        <h4>{% trans "Contacts" %}</h4>
                        <ul>
                            <li>{% trans "Phone" %}: <a href="tel: +313-450-4322">+38044 545-70-67</a></li>
                            <li>Email: <a href="mailto: eco@sitename.com">kiev@hydrohouse.com.ua</a></li>
                            <li>{% trans "6B Derevoobrobna street, 01013 Kyiv, Ukraine" %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>

<script src="{% static 'assets/js/jquery.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/slick.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/magnific.popup.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/ajaxchimp.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/sweet.alert.min.js'%}"></script>
<script src="{% static 'assets/js/vendor/particle.min.js'%}"></script>
<script src="{% static 'assets/js/particle.config.js'%}"></script>
<script src="{% static 'assets/js/vendor/slicknav.min.js'%}"></script>
<script src="{% static 'assets/js/active.js'%}"></script>

<script src="https://kit.fontawesome.com/03e1153eb6.js" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

{% block js %}

{% endblock %}

</body>
</html>