{%  extends 'index.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container">
{% if not is_mobile %}
<h2>
    {% if filter == 'New' %}
        {% trans "New" %}
    {% else %}
        {% if filter == 'Loaded' %}
            {% trans "Loaded" %}
        {% else %}
            {% if filter == 'ToApprove' %}
                {% trans "Wait for approve" %}
            {% else %}
                {% if filter == 'InWork' %}
                    {% trans "In work" %}
                {% else %}
                    {% if filter == 'Complete' %}
                        {% trans "Complete" %}
                    {% else %}
                        {% trans "All" %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

</h2>
{% endif %}

{% if successmessage %}
    <p class="alert alert-success"> {{successmessage}} </p>
{% endif %}

{% if errormessage %}
    <p class="alert alert-danger"> {{errormessage}} </p>
{% endif %}

{%  if form.errors %}
    {{ form.errors }}
{% endif %}

<form id = "form" >
    {% csrf_token %}

    <div class="form-group row">
    <div class="col-sm-10">
        {% if mode == 'edit' %}
            <a class="btn btn-info" href="/new_order/"> {% trans "Add order" %}</a>
        {% endif %}
        <a class="btn btn-info btn-md {% if filter == 'All' %} active {% endif %}" href="/list_order/?filter=All" > {% trans "All" %} </a>
        <a class="btn btn-info btn-md {% if filter == 'New' %} active {% endif %}"  href="/list_order/?filter=New" > {% trans "New" %} </a>
        <a class="btn btn-info btn-md {% if filter == 'Loaded' %} active {% endif %}"  href="/list_order/?filter=Loaded" > {% trans "Loaded" %} </a>
        <a class="btn btn-info btn-md {% if filter == 'ToApprove' %} active {% endif %}"  href="/list_order/?filter=ToApprove" > {% trans "Wait for approve" %} </a>
        <a class="btn btn-info btn-md {% if filter == 'InWork' %} active {% endif %}"  href="/list_order/?filter=InWork" > {% trans "In work" %} </a>
        <a class="btn btn-info btn-md {% if filter == 'Complete' %} active {% endif %}"  href="/list_order/?filter=Complete" > {% trans "Complete" %} </a>
    </div>

    <div class="col-sm-2">

        <form class="form-inline my-3 my-lg-0" >
            <table cellspacing="0" cellpadding="0" >
                <tbody>
                <tr>
                    <td>
                        <input class="form-control mr-sm-2" type="search" name="search" {% if search_str %} value = "{{ search_str }}" {% endif %}>
                    </td>
                    <td>
                        <button class="btn btn btn-outline-info my-2 my-sm-0" type="submit">
                            <i class="fas fa-search d-sm-block" style="font-size:24px"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">{% trans "Id" %}</th>
                <th scope="col">{% trans "Number" %}</th>
                <th scope="col">{% trans "Date" %}</th>
                <th scope="col">{% trans "Status" %}</th>
                <th scope="col">{% trans "Sum" %}</th>
                <th scope="col">{% trans "Appr." %}</th>
                <th scope="col">{% trans "Decl." %}</th>
                <th scope="col">{% trans "Comment" %}</th>

                <th scope="col">{% trans "Auth." %}</th>

                <th scope="col"></th>

             </tr>
        </thead>
    <tbody>

    {% for order in orders %}

        <tr>
            <td>{{ order.id }}</td>
            <td>
                {% if order.Number %}
                    {{ order.short_number }}
                {% else %}
                     -
                {% endif %}
            </td>
            <td>{{ order.Date|date:"d.m.y" }}</td>
            <td class = {{ order.Status }}> {{ order.short_status }}</td>
            <td>
                {% if order.Summa %}
                    {{ order.Summa|floatformat:2 }}
                {% endif %}
            </td>
            <td>
                {% if order.ApprovalStatus == 1 %}
					<i class="fas fa-handshake text-success d-sm-block" style="font-size:14px "  ></i>
                {% endif %}
                {% if order.ApprovalStatus == -1 %}
                    <i class="fas fa-handshake-slash text-danger d-sm-block" style="font-size:14px"></i>
                {% endif %}
            </td>

            <td>
                {% if order.ConsignmentNote %}
                    {{ order.ConsignmentNote }}
                {% endif %}
            </td>

            <td title="{{ order.Comment }}">
                {% if order.Comment %}
                    {{ order.short_comment }}
                {% endif %}
            </td>

            <td>
                {% if order.Author %}
                    {{ order.Author }}
                {% endif %}
            </td>


            <td>
                {% if order.Loaded %}
                    <a class="btn btn-info"  data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "View order" %}" href="/edit_order/{{order.id}}" >
                        <i class="fas fa-eye text-light d-sm-block" style="font-size:14px "  ></i>
                    </a>
                    <a class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Copy order" %}" href="/copy_order/{{order.id}}" >
                        <i class="fas fa-copy text-light d-sm-block" style="font-size:14px "  ></i>
                    </a>
                    <a class="btn btn-primary"  data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Check order status" %}" href="/check_order/{{order.id}}?filter={{ filter }}&type_o=seal" >
                        <i class="fas fa-redo text-light d-sm-block" style="font-size:14px "  ></i>
                    </a>
                    {% if order.Status == "order" and order.ApprovalStatus == 0 %}

                        <a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Approve order" %}" href="/confirm_order/{{order.id}}?filter={{ filter }}" >
                            <i class="fas fa-handshake text-light d-sm-block" style="font-size:14px "  ></i>
                        </a>
                        <a class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Reject order" %}" href="/reject_order/{{order.id}}?filter={{ filter }}" >
                            <i class="fas fa-handshake-slash text-light d-sm-block" style="font-size:14px "  ></i>
                        </a>

                    {% endif %}
                    {% if order.BillNumber %}
                        <a class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Get bill" %}" href="/get_bill/{{order.id}}?filter={{ filter }}" >
                            <i class="fas fa-file-pdf text-light d-sm-block" style="font-size:14px "  ></i>
                        </a>
                    {% endif %}
                    {% if order.IsInvoice %}
                        <a class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Get invoice" %}" href="/get_invoice/{{order.id}}?filter={{ filter }}" >
                            <i class="fas fa-file-pdf text-light d-sm-block" style="font-size:14px "  ></i>
                        </a>
                    {% endif %}

                {% else %}
                    <a class="btn btn-info"  data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Edit order" %}" href="/edit_order/{{order.id}}" >
                        <i class="fas fa-edit text-light d-sm-block" style="font-size:14px "  ></i>
                    </a>
                    <a class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Copy order" %}" href="/copy_order/{{order.id}}" >
                        <i class="fas fa-copy text-light d-sm-block" style="font-size:14px "  ></i>
                    </a>
                    <a class="btn btn-danger js-delete" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Delete order" %}" data-order_id="{{ order.id }}" href="" >
                        <i class="fas fa-trash text-light d-sm-block" style="font-size:14px "  ></i>
                    </a>

                    <a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="{% trans "Send the order to calculate" %}" href="/send_new_order/{{order.id}}" >
                        <i class="fas fa-calculator text-light d-sm-block" style="font-size:14px "  ></i>
                    </a>

                {% endif %}

            </td>
        </tr>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if orders.has_previous %}
                <a href="?page={{ orders.previous_page_number }}&filter={{ filter }}">{% trans "previous" %}</a>
            {% endif %}

            <span class="current">
                {% trans "Page" %}  {{ orders.number }} {% trans "of" %}  {{ orders.paginator.num_pages }}.
            </span>

            {% if orders.has_next %}
                <a href="?page={{ orders.next_page_number }}&filter={{ filter }}">{% trans "next" %}</a>
            {% endif %}
        </span>
    </div>

  </tbody>
  </table>
</form>
</div>>
{% endblock %}

{% block js %}
<script>

    $('.js-delete').click(function (event) {
        event.preventDefault();
        let order_id = $(this).attr('data-order_id');
        let btn = $(this);
        $.ajax({
                method: 'GET',
                url: '/ajax_delete_order/',
                data: {
                    'id': order_id
                }
            }).done(function (response) {
                if (response.status) {
                    btn.closest('tr').remove();
                }
            })
    })


</script>
{% endblock %}