{% extends "index.html" %}
{% load i18n %}
{% block content %}
    <h2>{% trans "Log-in" %}</h2>
    {% if form.errors %}
        <p>
            {% trans "An error occurred while logging in. Try again." %}
        </p>
    {% else %}
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value={% trans "Log-in"%}></p>
        </form>
    </div>

{% endblock %}