{% extends "index.html" %}
{% load i18n %}
{% block title %}{% trans "Log out" %}{% endblock %}
{% block content %}
    <h2>{% trans "Log out" %}</h2>
    <p>{% trans "You have been successfully logged out. You can "%} <a href="{% url "login" %}">{% trans "log-in again"%}</a>.</p>
{% endblock %}