{%  extends 'index.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div> &nbsp </div>

<div class="eco--sec--title eco--small text-center">
    <h1>{% trans "Materials" %}</h1>
	<a>&nbsp;</a>
</div>
<button class="accordion">{% trans "Polyurethane" %}</button>
<div class="panel">
    <p><img src="{% static 'assets/img/seal-table11.png'%}"></p>
    <p><img src="{% static 'assets/img/seal-table12.png'%}"></p>
</div>

<button class="accordion">{% trans "NBR (Nitrile butadiene rubber)" %}</button>
<div class="panel">
    <p><img src="{% static 'assets/img/seal-table21.png'%}"></p>
</div>

<button class="accordion">{% trans "EPDM (Ethylene propylene diene monomer rubber)" %}</button>
<div class="panel">
    <p><img src="{% static 'assets/img/seal-table31.png'%}"></p>
</div>

<button class="accordion">{% trans "Viton/FPM (Fluoroelastomer)" %}</button>
<div class="panel">
    <p><img src="{% static 'assets/img/seal-table41.png'%}"></p>
</div>

<button class="accordion">{% trans "Silicone" %}</button>
<div class="panel">
    <p><img src="{% static 'assets/img/seal-table51.png'%}"></p>
</div>

<button class="accordion">{% trans "PTFE (Polytetrafluoroethylene)" %}</button>
<div class="panel">
    <p><img src="{% static 'assets/img/seal-table61.png'%}"></p>
    <p><img src="{% static 'assets/img/seal-table62.png'%}"></p>
</div>

<button class="accordion">{% trans "TPE (Thermoplastic Elastomers)" %}</button>
<div class="panel">
    <p><img src="{% static 'assets/img/seal-table71.png'%}"></p>
</div>

<button class="accordion">{% trans "Plastics" %}</button>
<div class="panel">
    <p><img src="{% static 'assets/img/seal-table81.png'%}"></p>
</div>


{% endblock %}