{%  extends 'index.html' %}
{% load i18n %}

{% block content %}

<div class="container">

{%  if form.errors %}
    {{ form.errors }}
{% endif %}
{%  if msg %}
    <p class = "alert alert-success"> {{ msg }}</p>
{% endif %}

<form id = "form" action="{{action}}" method = "post">
{% csrf_token %}
    <!--
    {%  for field in form  %}
        <div>
        <label for = ""> {{ field.label }}</label>
        {{ field }}

        <br>
        {%  if field.errors %}
            {% for e in field.errors %}
                <p style = "color: red"> {{ e }}</p>
            {% endfor %}
        {%  endif  %}
        </div>

    {% endfor %}
    -->
    <div disabled = "">
        <label for = ""> {{ form.Order.label }}</label>
            {{ form.Order }}
    </div>

    <div>
        <label for = ""> {{ form.Quantity.label }}</label>
            {{ form.Quantity }}
    </div>
    <div>
        <label for = ""> {{ form.Profile.label }}</label>
            {{ form.Profile }}
    </div>
    <div>
        <label > {% trans "Diameters (in increasing order)" %}  </label>
    </div>
    <div>
            {{ form.D1 }} {{ form.D2 }} {{ form.D3 }} {{ form.D4 }}
    </div>
    <div>
        <label > {% trans "Heights (in increasing order)" %}  </label>
    </div>
    <div>
            {{ form.L1 }} {{ form.L2 }} {{ form.L3 }} {{ form.L4 }}
    </div>

    <div>
        <label > Матеріал </label>
    </div>
    <div>
            {{ form.Material1 }}
    </div>

    <div>
        <label > {% trans "Comment" %} </label>
    </div>
    <div>
            {{ form.Comment }}
    </div>

    <button class="btn btn-success"> {% trans "Add" %}</button>

</form>

</div>

{% endblock %}