{%  extends 'index.html' %}
{% load staticfiles %}
{% load i18n %}

{%  if form.errors %}
    {{ form.errors }}
{% endif %}

{% block content %}

<div class="container">
    {% if imagefile == "" %}
        <form id = "form" action="/new_seal/" method = "post">
        {% csrf_token %}
        <label for = ""> {% trans "Profile" %}</label>
        {{ form.Profile }}
        <p>
        <button class="btn btn-success"> {% trans "Choose" %}</button>
        </p>
        </form>
    {% else %}
        {% if line_id  %}
            <form id = "form" action="/update_line/{{line_id}}" method = "post">
        {% else %}
            <form id = "form" action="/confirm_new_seal/" method = "post">
        {% endif %}
        {% csrf_token %}

        {% if errormessage %}
            <p class="alert alert-danger"> {{errormessage}} </p>
        {% endif %}

        <div disable = "">
            {{ form.Order }}
        </div>
        <div >
            <label for = ""> {% trans "Profile" %}: </label>
            {{ form.Profile.as_hidden }}{{ profile_txt }}
        </div>
        <div>
            <label for = ""> {% trans "Quantity" %}: </label>
                {{ form.Quantity }}
        </div>

        {{ form.D1.as_hidden }} {{ form.D2.as_hidden }} {{ form.D3.as_hidden }} {{ form.D4.as_hidden }}
        {{ form.L1.as_hidden }} {{ form.L2.as_hidden }} {{ form.L3.as_hidden }} {{ form.L4.as_hidden }}

	    <div class="container">
		    <div class="row">
                <div class="col-md-8">

                    <div style="position:relative;width:450px;height:270px">
    	                <img style="border:1px solid #d3d3d3;" id="seal" width="450" height="250" src="{% static imagefile %}" alt="Seal" class="img-thumbnail">
                        {% if profile.NumberOfD >= 1 %}
                            {% if d1 %}
                                <input type="number" step = "0.01" id = "d1" name = "d1" value="{{ d1 }}" style="position:absolute;left:{{ profile.D1X }}px;top:{{ profile.D1Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% else %}
    	                        <input type="number" step = "0.01" id = "d1" name = "d1" style="position:absolute;left:{{ profile.D1X }}px;top:{{ profile.D1Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% endif %}
                        {% endif %}
                        {% if profile.NumberOfD >= 2 %}
                            {% if d2 %}
                                <input type="number" step = "0.01" id = "d2" name = "d2" value="{{ d2 }}" style="position:absolute;left:{{ profile.D2X }}px;top:{{ profile.D2Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% else %}
    	                        <input type="number" step = "0.01" id = "d2" name = "d2" style="position:absolute;left:{{ profile.D2X }}px;top:{{ profile.D2Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% endif %}
                        {% endif %}
                        {% if profile.NumberOfD >= 3 %}
                            {% if d3 %}
                                <input type="number" step = "0.01" id = "d3" name = "d3" value="{{ d3 }}" style="position:absolute;left:{{ profile.D3X }}px;top:{{ profile.D3Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% else %}
    	                        <input type="number" step = "0.01" id = "d3" name = "d3" style="position:absolute;left:{{ profile.D3X }}px;top:{{ profile.D3Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% endif %}
                        {% endif %}
                        {% if profile.NumberOfD >= 4 %}
                            {% if d4 %}
                                <input type="number" step = "0.01" id = "d4" name = "d4" value="{{ d4 }}" style="position:absolute;left:{{ profile.D4X }}px;top:{{ profile.D4Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% else %}
    	                        <input type="number" step = "0.01" id = "d4" name = "d4" style="position:absolute;left:{{ profile.D4X }}px;top:{{ profile.D4Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% endif %}
                        {% endif %}

                        {% if profile.NumberOfL >= 1 %}
                            {% if l1 %}
                                <input type="number" {% if standard_rows and not NonStandard %} readonly {% endif %} step = "0.01" id = "l1" name = "l1" value="{{ l1 }}" style="position:absolute;left:{{ profile.L1X }}px;top:{{ profile.L1Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% else %}
    	                        <input type="number" {% if standard_rows %} readonly {% endif %} step = "0.01" id = "l1" name = "l1" style="position:absolute;left:{{ profile.L1X }}px;top:{{ profile.L1Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% endif %}
                        {% endif %}
                        {% if profile.NumberOfL >= 2 %}
                            {% if l2 %}
                                <input type="number" {% if standard_rows and not NonStandard %} readonly {% endif %} step = "0.01" id = "l2" name = "l2" value="{{ l2 }}" style="position:absolute;left:{{ profile.L2X }}px;top:{{ profile.L2Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% else %}
                                <input type="number" {% if standard_rows %} readonly {% endif %} step = "0.01" id = "l2" name = "l2" style="position:absolute;left:{{ profile.L2X }}px;top:{{ profile.L2Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% endif %}
                        {% endif %}
                        {% if profile.NumberOfL >= 3 %}
                            {% if l3 %}
                                <input type="number" step = "0.01" id = "l3" name = "l3" value="{{ l3 }}" style="position:absolute;left:{{ profile.L3X }}px;top:{{ profile.L3Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% else %}
                                <input type="number" step = "0.01" id = "l3" name = "l3" style="position:absolute;left:{{ profile.L3X }}px;top:{{ profile.L3Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% endif %}
                        {% endif %}
                        {% if profile.NumberOfL >= 4 %}
                            {% if l4 %}
                                <input type="number" step = "0.01" id = "l4" name = "l4" value="{{ l4 }}" style="position:absolute;left:{{ profile.L4X }}px;top:{{ profile.L4Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% else %}
                                <input type="number" step = "0.01" id = "l4" name = "l4" style="position:absolute;left:{{ profile.L4X }}px;top:{{ profile.L4Y }}px;width:55px;height:25px;font-size:12px;font-weight: bold;background: yellow;border-color: inherit;">
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-4">
                    {% if standard_rows %}
                        <h4>{% trans "Standard rows" %}</h4>
                        {% for standard_row in standard_rows %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="standard_row" id="gridRadios1" value="{{ standard_row.id }}" >
                                <label class="form-check-label" for="gridRadios1">
                                    {{ standard_row.L1 }} * {{ standard_row.L2 }}
                                </label>
                            </div>
                        {% endfor %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="standard_row" id="gridRadios1" {% if NonStandard %} checked {% endif %} value="9999" >
                            <label class="form-check-label" for="gridRadios1">
                                {% trans "Non standard" %}
                            </label>
                        </div>

                    {% else %}
                        <h4>{% trans "Description" %}</h4>
                    {% endif %}
                    {% if Description %}
                        <p>{{ Description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                <label > {% trans "Material1" %} </label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                {% if profile.NumberOfMaterial >= 2 %}
                    <label > {% trans "Material2" %} </label>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                {% if profile.NumberOfMaterial >= 3 %}
                    <label > {% trans "Material3" %} </label>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                {% if profile.NumberOfMaterial >= 4 %}
                    <label > {% trans "Material4" %} </label>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                {% if profile.NumberOfMaterial >= 1 %}
                    {{ form.Material1 }}
                {% else %}
                    {{ form.Material1.as_hidden }}
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                {% if profile.NumberOfMaterial >= 2 %}
                    {{ form.Material2 }}
                {% else %}
                    {{ form.Material2.as_hidden }}
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                {% if profile.NumberOfMaterial >= 3 %}
                    {{ form.Material3 }}
                {% else %}
                    {{ form.Material3.as_hidden }}
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                {% if profile.NumberOfMaterial >= 4 %}
                    {{ form.Material4 }}
                {% else %}
                    {{ form.Material4.as_hidden }}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                {% if profile.NumberOfMaterial >= 1 and profile.K1 == 0%}
                    <label > K1 </label>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                {% if profile.NumberOfMaterial >= 2 and profile.K2 == 0%}
                    <label > K2 </label>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                {% if profile.NumberOfMaterial >= 3 and profile.K3 == 0%}
                    <label > K3 </label>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                {% if profile.NumberOfMaterial >= 4 and profile.K4 == 0 %}
                    <label > K4 </label>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                {% if profile.NumberOfMaterial >= 1 and profile.K1 == 0%}
                    {{ form.K1 }}
                {% else %}
                    {{ form.K1.as_hidden }}
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                {% if profile.NumberOfMaterial >= 2 and profile.K2 == 0%}
                    {{ form.K2 }}
                {% else %}
                    {{ form.K2.as_hidden }}
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                {% if profile.NumberOfMaterial >= 3 and profile.K3 == 0%}
                    {{ form.K3 }}
                {% else %}
                    {{ form.K3.as_hidden }}
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" >
                {% if profile.NumberOfMaterial >= 4 and profile.K4 == 0 %}
                    {{ form.K4 }}
                {% else %}
                    {{ form.K4.as_hidden }}
                {% endif %}
            </div>
        </div>

        <div>
            <label > {% trans "Comment" %} </label>
        </div>
        <div>
            {{ form.Comment }}
        </div>

        <p>
        {% if line_id %}
            <button id = "update" class="btn btn-success" href="/materials/"> {% trans "Update" %} </button>
        {% else %}
            <button id = "add" class="btn btn-success" > {% trans "Add" %}  </button>
        {% endif %}
        </p>
        </form>
    {% endif %}
</div>

{% endblock %}

{% block js %}
<script>

  {#  {% if standard_rows %}#}
  let radio_button = document.querySelectorAll('input[name="standard_row"]');

  for (let i = 0; i < radio_button.length; i++) {
      radio_button[i].addEventListener("change", function (event) {
          if (this.value == "9999") {
              document.getElementById("l1").removeAttribute("readonly");
              document.getElementById("l2").removeAttribute("readonly");

          }
          else{
              document.getElementById("l1").setAttribute("readonly", "readonly");
              {#document.getElementById("l1").value = document.getElementById("standard_l1").value;#}
              document.getElementById("l2").setAttribute("readonly", "readonly");
              {#document.getElementById("l2").value = {{ standard_row.L2 }};#}
              $.ajax({
                method: 'GET',
                url: '/ajax_get_standard_size/',
                data: {
                    'id': this.value,
                }
              }).done(function (response) {
                 document.getElementById("l1").value = response.l1;
                 document.getElementById("l2").value = response.l2;
              })

          }

      });
  }
  {#  {% endif %}#}


  let form = document.getElementById('form');
  form.addEventListener('submit', function (e) {
    let form_is_valid = true;
    let field_name = "";
    let field_name0 = "";
    let ratio_is_valid = true;

    {% if profile.NumberOfD >= 1 %}
    if (document.getElementById("d1").value === '') {
      form_is_valid = false;
      field_name = 'd1';
      document.getElementById("d1").style.borderColor = 'red';
    }
    {% endif %}
    {% if profile.NumberOfD >= 2 %}
    if (document.getElementById("d2").value === '') {
      form_is_valid = false;
      field_name = 'd2';
      document.getElementById("d2").style.borderColor = 'red';
    }
    if (parseInt(document.getElementById("d2").value) <= parseInt(document.getElementById("d1").value)) {
      ratio_is_valid = false;
      field_name = 'd2';
      field_name0 = 'd1';
      document.getElementById("d1").style.borderColor = 'red';
      document.getElementById("d2").style.borderColor = 'red';
    }
    {% endif %}
    {% if profile.NumberOfD >= 3 %}
    if (document.getElementById("d3").value === '') {
      form_is_valid = false;
      field_name = 'd3';
      document.getElementById("d3").style.borderColor = 'red';
    }
    if (parseInt(document.getElementById("d3").value) <= parseInt(document.getElementById("d2").value)) {
      ratio_is_valid = false;
      field_name = 'd3';
      field_name0 = 'd2';
      document.getElementById("d2").style.borderColor = 'red';
      document.getElementById("d3").style.borderColor = 'red';
    }
    {% endif %}
    {% if profile.NumberOfD >= 4 %}
    if (document.getElementById("d4").value === '') {
      form_is_valid = false;
      field_name = 'd4';
      document.getElementById("d4").style.borderColor = 'red';
    }
    if (parseInt(document.getElementById("d4").value) <= parseInt(document.getElementById("d3").value)) {
      ratio_is_valid = false;
      field_name = 'd4';
      field_name0 = 'd3';
      document.getElementById("d3").style.borderColor = 'red';
      document.getElementById("d4").style.borderColor = 'red';
    }
    {% endif %}
    {% if profile.NumberOfL >= 1 %}
    if (document.getElementById("l1").value === '') {
      form_is_valid = false;
      field_name = 'l1';
      document.getElementById("l1").style.borderColor = 'red';
    }
    {% endif %}
    {% if profile.NumberOfL >= 2 %}
    if (document.getElementById("l2").value === '') {
      form_is_valid = false;
      field_name = 'l2';
      document.getElementById("l2").style.borderColor = 'red';
    }
    {% endif %}
    {% if profile.NumberOfL >= 3 %}
    if (document.getElementById("l3").value === '') {
      form_is_valid = false;
      field_name = 'l3';
      document.getElementById("l3").style.borderColor = 'red';
    }
    {% endif %}
    {% if profile.NumberOfL >= 4 %}
    if (document.getElementById("l4").value === '') {
      form_is_valid = false;
      field_name = 'l4';
      document.getElementById("l4").style.borderColor = 'red';
    }
    {% endif %}
    if (document.getElementById("id_Quantity").value === '0') {
        form_is_valid = false;
        field_name = 'Quantity';
        document.getElementById("id_Quantity").style.borderColor = 'red';
    }

    if (form_is_valid != true) {
        alert("{% trans "Empty value for field" %} " + field_name + " {% trans "not allowed" %}");
        e.preventDefault();
    }

    if (ratio_is_valid != true) {
        alert("{% trans "Incorrect diameter ratio" %} " + field_name0 + ", " + field_name);
        e.preventDefault();
    }

  })

  {% if profile.NumberOfD >= 1 %}
    d1.oninput = function() {
        if (d1.value != "") {
            document.getElementById("d1").style.backgroundColor = 'white';
            document.getElementById("d1").style.borderColor = 'inherit';
        }
    }
  {% endif %}

  {% if profile.NumberOfD >= 2 %}
    d2.oninput = function() {
        if (d2.value != "") {
            document.getElementById("d2").style.backgroundColor = 'white';
            document.getElementById("d2").style.borderColor = 'inherit';
        }
    }
  {% endif %}

  {% if profile.NumberOfD >= 3 %}
    d3.oninput = function() {
        if (d3.value != "") {
            document.getElementById("d3").style.backgroundColor = 'white';
            document.getElementById("d3").style.borderColor = 'inherit';
        }
    }
  {% endif %}

  {% if profile.NumberOfD >= 4 %}
    d4.oninput = function() {
        if (d4.value != "") {
            document.getElementById("d4").style.backgroundColor = 'white';
            document.getElementById("d4").style.borderColor = 'inherit';
        }
    }
  {% endif %}

  {% if profile.NumberOfL >= 1 %}
      l1.oninput = function() {
        if (l1.value != "") {
            document.getElementById("l1").style.backgroundColor = 'white';
            document.getElementById("l1").style.borderColor = 'inherit';
        }
    }
  {% endif %}

  {% if profile.NumberOfL >= 2 %}
    l2.oninput = function() {
        if (l2.value != "") {
            document.getElementById("l2").style.backgroundColor = 'white';
            document.getElementById("l2").style.borderColor = 'inherit';
        }
    }
  {% endif %}

  {% if profile.NumberOfL >= 3 %}
    l3.oninput = function() {
        if (l3.value != "") {
            document.getElementById("l3").style.backgroundColor = 'white';
            document.getElementById("l3").style.borderColor = 'inherit';
        }
    }
  {% endif %}

  {% if profile.NumberOfL >= 4 %}
    l4.oninput = function() {
        if (l4.value != "") {
            document.getElementById("l4").style.backgroundColor = 'white';
            document.getElementById("l4").style.borderColor = 'inherit';
        }
    }
  {% endif %}



</script>
{% endblock %}